
body {
    font-family: Arial, sans-serif;
    background-color: #C1CEFE;
    color: #624CAB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #A0DDFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2, h3 {
    color: #7189FF;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #758ECD;
    border-radius: 5px;
}

button {
    background-color: #7189FF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #624CAB;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #758ECD;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}